spring:
  main:
    allow-bean-definition-overriding: true
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 98254233633-hh6jlqp1umf8ufv487bldcr0sknq86l3.apps.googleusercontent.com
            clientSecret: T51e_mWVxZZZxEz2rII8N7N6
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
          github:
            clientId: 7b46b626a90fa4e2deb3
            clientSecret: bfe40d133147d137e15e206890d68ab4cc0e3fbe
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - user:email
              - read:user
app:
  auth:
    tokenSecret: 926D96C90030DD58429D2751AC1BDBBC
    tokenExpirationMsec: 600000000
  oauth2:

    authorizedRedirectUris:
      - http://localhost:8080/oauth2/redirect/login
      - http://localhost:8080/oauth2/redirect
      - http://localhost:8080/login