*/.idea
*.iml
*/target
*/out
*/production
*/.class
/reactjs/node_modules
/reactjs/package-lock.json
/reactjs/.vscode
/sick/.gradle
/sick/*/build
/sick/api/build
/sick/error/build
/sick/service/build
/sick/util/build
