
.custom-hidden {
    display: none;
}

.doctor-form-row {
    margin-bottom: 20px;
}

.doctor-form-row input,
.doctor-form-row textarea {
    margin-bottom: 4px;
}

.expiration-period-layout {
    display: inline-block;
}

.expiration-period-select {
    margin-left: 5%;
}

.new-doctor-container {
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
}

/***********************/
.buttons-position {
    margin-left: 10%;
    margin-top: 2%;
    display: inline-block;
}

.doctor-form-button {
    min-width: 110px;
}

.doctor-form-button[disabled],
.doctor-form-button[disabled]:hover,
.doctor-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

/***********************/

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all .3s;
}

.optional-choice {
    width: calc(100% - 35px);
    margin-right: 8px;
}

.dynamic-delete-button:hover {
    color: #777;
}

.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.doctor-form-row {
    margin-bottom: 20px;
}

.doctor-form-row input,
.doctor-form-row textarea {
    margin-bottom: 4px;
}